# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Node
node_modules/
.next/
out/

# Env & logs
.env
.env.local
.env.production
*.log

# Compiled
dist/
build/

# IDE
.DS_Store
.idea/
.vscode/

env/backend.env
env/frontend.env
/.pip
smart_study_companion.db
/.npm-cache
/.poetry
/frontend/.npm-cache